extends layout

block content
	div.container-fluid
		div.page-header
			h1= book.title
		ul.list-group
			each library in book.libraries
				li(class= library.avail ? ['list-group-item','list-group-item-success'] : ['list-group-item','list-group-item-danger'])
					span= library.name
					span.badge #{library.section} #{library.callNum}