extends layout

block content
	h1= book.title
	= 'Last Updated'
	h2 Available At:
	ul
		each library in book.libraries
			li
				a(href='/library/'+library.name) #{library.name}
				span #{library.section} #{library.callNum}