extends layout

block content
		div.jumbotron
			h1= title
		div.container-fluid
			h2 Welcome to #{title}
			ul(class=['nav','nav-pills','nav-stacked'])
				li.active
					a(href='/books') View Books
				li.active
					a(href='/libraries') View Libraries
