extends layout

block content
	div.page-header
		h1= title
	h3 Recent Library
	ul.list-group
		li.list-group-item
			a(href='/libraries/' + recentLib) #{recentLib}
	h3 All Libraries
	ul.list-group
		each library in libraries
			li.list-group-item
				a(href='/libraries/'+library) #{library}