extends layout

block content
	div.page-header
		h1= title
	ul.list-group
		each book in books
			li(class= book.thisLibrary.avail ? ['list-group-item','list-group-item-success'] : ['list-group-item','list-group-item-danger'])
				a(href='/books/'+book._id) #{book.title}
				span.badge #{book.thisLibrary.callNum}
					
