extends layout

block content
	h1= title
	h2 Recent Library
	
	a(href='/libraries/' + recentLib) #{recentLib}
	h2 All Libraries
	ul
		each library in libraries
			li
				a(href='/libraries/'+library) #{library}